<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="TIBCO.EFTL"
                           publicKeyToken="90a63a089d81e78e"
                           culture="" />
         <bindingRedirect oldVersion="6.8.0.0-6.8.999.999"
                          newVersion="@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@.@EFTL_VERSION_BUILD@"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>

