/*
 * Copyright (c) 2001-$Date: 2013-09-11 11:54:33 -0700 (Wed, 11 Sep 2013) $ TIBCO Software Inc.
 * All rights reserved.
 * For more information, please contact:
 * TIBCO Software Inc., Palo Alto, California, USA
 *
 * $Id: Version.java.config 69359 2013-09-11 18:54:33Z rselph $
 *
 */
package com.tibco.eftl;

public class Version
{
    public static final int EFTL_VERSION_MAJOR_NUM   = @EFTL_VERSION_MAJOR@;
    public static final int EFTL_VERSION_MINOR_NUM   = @EFTL_VERSION_MINOR@;
    public static final int EFTL_VERSION_UPDATE_NUM  = @EFTL_VERSION_UPDATE@;

    public static final String EFTL_VERSION_MAJOR_STRING     = "@EFTL_VERSION_MAJOR@";
    public static final String EFTL_VERSION_MINOR_STRING     = "@EFTL_VERSION_MINOR@";
    public static final String EFTL_VERSION_UPDATE_STRING    = "@EFTL_VERSION_UPDATE@";

    public static final String EFTL_VERSION_STRING_COMPARE = 
        "@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@";

    public static final String EFTL_VERSION_STRING_SHORT = 
        "@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@ V@EFTL_VERSION_BUILD@";

    public static final String EFTL_VERSION_STRING_LONG = "TIBCO eFTL Version " + EFTL_VERSION_STRING_SHORT;

    public static final String EFTL_VERSION_BANNER = EFTL_VERSION_STRING_LONG + 
        "\nCopyright @EFTL_COPYRIGHT_YEARS@ TIBCO Software Inc.\n" +
        "All rights reserved.\n";
}
