/**
 * @mainpage %TIBCO eFTL&tm; @EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@
 * 
 * @section intro Introduction
 *
 * This documentation describes the .NET API for %TIBCO eFTL&tm;. 
 * 
 * @section usage User Examples
 *
 * %TIBCO %eFTL&tm; includes sample application programs; see the directory
 * \c samples.
 *
 * @section Copyrights Copyright Notice
 * 
 * Copyright &copy; @TIB_COPYRIGHT_YEARS@ %TIBCO Software Inc. Licensed under a BSD-style license. Refer to [LICENSE]
 *
 * This documentation contains proprietary and confidential information 
 * of %TIBCO Software Inc. Use, disclosure, or reproduction is prohibited
 * without the prior express written permission of %TIBCO Software Inc.
 *
 * @subsection restrights Restricted Rights Legend
 * 
 * Use, duplication, or disclosure by the Government is subject to 
 * restrictions set forth in subparagraph (c)(1)(ii) of the 
 * rights in Technical Data and Computer Software clause at 
 * DFARS 252. 227-7013.
 *
 * %TIBCO Software Inc 
 * 3303 Hillview Ave, Palo Alto, CA 94304
 */
