//
//  Copyright (c) 2001-$Date: 2013-09-11 11:54:33 -0700 (Wed, 11 Sep 2013) $ TIBCO Software Inc.
//  Licensed under a BSD-style license. Refer to [LICENSE]
//  For more information, please contact:
//  TIBCO Software Inc., Palo Alto, California USA
//
//  $Id: version.h.config 69359 2013-09-11 18:54:33Z rselph $
//

#import <Foundation/Foundation.h>

NSInteger const eFTLVersionMajor = @EFTL_VERSION_MAJOR@;
NSInteger const eFTLVersionMinor = @EFTL_VERSION_MINOR@;
NSInteger const eFTLVersionUpdate = @EFTL_VERSION_UPDATE@;
NSInteger const eFTLVersionBuild = @EFTL_VERSION_BUILD@;

NSString *const eFTLVersionMajorString = @"@EFTL_VERSION_MAJOR@";
NSString *const eFTLVersionMinorString = @"@EFTL_VERSION_MINOR@";
NSString *const eFTLVersionUpdateString = @"@EFTL_VERSION_UPDATE@";
NSString *const eFTLVersionBuildString = @"@EFTL_VERSION_BUILD@";

NSString *const eFTLVersionStringCompare = @"@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@";
NSString *const eFTLVersionStringShort = @"@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@ V@EFTL_VERSION_BUILD@";
NSString *const eFTLVersionStringLong = @"TIBCO eFTL Version @EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@ V@EFTL_VERSION_BUILD@";
