/*
 * Copyright (c) 2001-$Date: 2013-09-11 13:54:33 -0500 (Wed, 11 Sep 2013) $ TIBCO Software Inc.
 * Licensed under a BSD-style license. Refer to [LICENSE]
 * For more information, please contact:
 * TIBCO Software Inc., Palo Alto, California, USA
 *
 * $Id: Version.java.config 69359 2013-09-11 18:54:33Z rselph $
 *
 */
package com.tibco.eftl;

public class Version
{
    public static final int EFTL_VERSION_MAJOR_NUM   = 6;
    public static final int EFTL_VERSION_MINOR_NUM   = 0; 
    public static final int EFTL_VERSION_UPDATE_NUM  = 0;

    public static final String EFTL_VERSION_MAJOR_STRING     = "6";
    public static final String EFTL_VERSION_MINOR_STRING     = "0";
    public static final String EFTL_VERSION_UPDATE_STRING    = "0";

    public static final String EFTL_VERSION_STRING_COMPARE = 
        "@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@";

    public static final String EFTL_VERSION_STRING_SHORT = 
        "@EFTL_VERSION_MAJOR@.@EFTL_VERSION_MINOR@.@EFTL_VERSION_UPDATE@ @EFTL_VERSION_RELEASE_TYPE@ V@EFTL_VERSION_BUILD@";

    public static final String EFTL_VERSION_STRING_LONG = "TIBCO eFTL Version " + EFTL_VERSION_STRING_SHORT;

    public static final String EFTL_VERSION_BANNER = EFTL_VERSION_STRING_LONG + 
        "\nCopyright @EFTL_COPYRIGHT_YEARS@ TIBCO Software Inc.\n" +
        "Licensed under a BSD-style license. Refer to [LICENSE]\n";
}
